  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --bg-color: #212529;
    --bg-position-color: #b7cee5;
    --border-color: #666;
    --font-color: #f1f5f9;
    --primary-color: #4dff91;
    --error-color: #ff0043;
    --match-color: #7ded97;
    --turn-border-color: #0fad34;
    --turn-bg-color: #a4cdae;
  }
 
  body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: "Ubuntu", sans-serif;
  }
  
  main {
    display: block;
    margin: 0 auto;
    max-width: 40rem;
    padding: 0 1.5rem 2.5rem;
    position: relative;
  }
  
  #players input {
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    border-radius: .5rem;
    color: var(--font-color);
    font-size: 1.75rem;
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
  }

  .playing {
    border-color: var(--turn-border-color)!important;
    background-color: var(--turn-bg-color)!important;
  }

  .winner {
    animation: blinkingBackground 2s infinite;
	}

	@keyframes blinkingBackground{
		0%		{ border-color: var(--turn-border-color); 
            background-color: var(--turn-bg-color); 
          }
		25%		{ border-color: var(--border-color); background-color: var(--bg-color);}
		50%		{ border-color: var(--turn-border-color); background-color: var(--turn-bg-color); }
		75%		{ border-color: var(--border-color); background-color: var(--bg-color); }
		100%	{ border-color: var(--turn-border-color); background-color: var(--turn-bg-color); }
	}

  #start_game_div{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.75rem;
  }

  #start_game_play{
    font-size: 1.75rem;
  }

  #game_board {
    background-color: #6c3669;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1.2rem 0;
  }
  
  #game_board input {
    color: var(--font-color);
    cursor: pointer;
    font-size: 6rem;
    padding: 1rem;
  }
  
  #game_board input:hover {
    filter: brightness(0.8);
  }

  .match  {
    background-color: var(--match-color); 
  }

  .position {
    padding: 0rem;
    border-radius: 0rem;
    background-color: var(--bg-color);
  }

  #pos00{
    border-top: none;
    border-bottom: 2px solid var(--border-color);
    border-left: none;
    border-right: 2px solid var(--border-color);
  }

  #pos01{
    border-top: none;
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
  }

  #pos02{
    border-top: none;
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: none;
  }

  #pos10{
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-left: none;
    border-right: 2px solid var(--border-color);
  }

  #pos11{
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
  }

  #pos12{
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    border-right: none;
  }

  #pos20{
    border-top: 2px solid var(--border-color);
    border-bottom: none;
    border-left: none;
    border-right: 2px solid var(--border-color);
  }

  #pos21{
    border-top: 2px solid var(--border-color);
    border-bottom: none;
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
  }

  #pos22{
    border-top: 2px solid var(--border-color);
    border-bottom: none;
    border-left: 2px solid var(--border-color);
    border-right: none;
  }